---
import BlogLayout from "@/layouts/BlogLayout.astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

interface Props {
  post: CollectionEntry<"posts">;
}

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<title slot="title">{post.data.title}</title>

<BlogLayout>
  <div>
    <article>
      <h1 class="text-3xl font-bold">{post.data.title}</h1>

      <small>{post.data.date}</small>

      <div>
        <Content />
      </div>
    </article>
  </div>
</BlogLayout>

<style>
  article {
    pre.astro-code {
      @apply my-3 border-zinc-700 border p-4 rounded-lg;
    }
  }
</style>
