---
import LanguageSwitcher from "@/components/LanguageSwitcher.astro";
import Layout from "@/layouts/Layout.astro";
import "@/styles/main.css";
import * as m from "../../paraglide/messages.js";
---

<Layout title="dot">
  <h1 class="text-xl">João "dot" Miranda</h1>
  <h2 class="text-zinc-500 leading-none">
    <span>Full Stack Developer</span>
    <span
      class="inline-block align-middle size-1 bg-orange-700 rounded-full animate-pulse"
    ></span>
    <span>{m.nationality}</span>
  </h2>

  <div class="flex flex-col gap-y-6 mt-10">
    <p class="leading-relaxed">
      Hello, I'm a full-stack developer with nearly three years of experience
      specializing in web solutions. My journey in the web development world has
      led me to work on a diverse range of projects, from maintaining and
      revamping company websites to developing backoffice applications and
      tools.
    </p>

    <p class="leading-relaxed">
      A highlight in my career has been integrating bank APIs to facilitate home
      loan credit simulations. These integrations have provided users with
      insights to make informed financial decisions without making a single
      transaction.
    </p>

    <p class="leading-relaxed">
      Always eager to explore, I'm driven by new tech innovations and am
      constantly on the hunt for the next big thing in the digital world. I've
      also recently started venturing into the DevOps realm, aiming to optimize
      CI/CD flows and how applications are integrated in infrastructures.
    </p>
  </div>

  <div class="mt-10">
    <a class="block" href="/projects">Projects</a>

    <a class="block" href="/jobs">Jobs</a>
  </div>

  <LanguageSwitcher />
</Layout>
