@import "tailwindcss";

@plugin '@tailwindcss/typography';

@theme {
  --color-foreground: hsl(var(--color-foreground));
  --color-background: hsl(var(--color-background));
  --color-primary: hsl(var(--color-primary));
  --color-secondary: hsl(var(--color-secondary));
  --color-accent: hsl(var(--color-accent));

  --font-cascadia-code: var(--font-cascadia-code);
}
