---
import Layout from "../layouts/Layout.astro";
---

<Layout title="João Miranda">
  <main>
    <img
      width="384"
      height="164"
      class="mx-auto w-96 h-auto"
      src="/hero.svg"
      alt="Hero"
    />

    <h1 class="mt-8 font-audiowide text-4xl">João Miranda</h1>

    <small
      class="font-bold text-background dark:text-background bg-accent dark:bg-secondary px-2 rounded-md inline-block leading-snug"
    >
      Digital Craftsman (Developer)
    </small>

    <section id="about" class="mt-8">
      <h2
        class="font-audiowide text-3xl underline decoration-accent dark:decoration-accent-dark"
      >
        About
      </h2>

      <p class="mt-2 indent-3">
        Hello, I'm a full-stack developer with nearly three years of experience
        specializing in web solutions. My journey in the web development world
        has led me to work on a diverse range of projects, from maintaining and
        revamping company websites to developing backoffice applications and
        tools.
      </p>

      <p class="mt-2 indent-3">
        A highlight in my career has been integrating bank APIs to facilitate
        home loan credit simulations. These integrations have provided users
        with insights to make informed financial decisions without making a
        single transaction.
      </p>

      <p class="mt-2 indent-3">
        Always eager to explore, I'm driven by new tech innovations and am
        constantly on the hunt for the next big thing in the digital world. I've
        also recently started venturing into the DevOps realm, aiming to
        optimize CI/CD flows and how applications are integrated in
        infrastructures.
      </p>
    </section>
  </main>
</Layout>
