---
import GithubGraph from "../components/GithubGraph.astro";
import OsrsStats from "../components/OsrsStats.vue";
import Layout from "../layouts/Layout.astro";
---

<Layout title="João Miranda">
  <h1
    class="font-audiowide text-4xl underline decoration-accent dark:decoration-accent-dark"
  >
    Stats
  </h1>

  <GithubGraph />

  <OsrsStats />
</Layout>
