---
import Layout from "../layouts/Layout.astro";
import GithubGraph from "../components/GithubGraph.astro";
---

<Layout title="João Miranda">
  <h1
    class="font-audiowide text-4xl underline decoration-accent dark:decoration-accent-dark"
  >
    Stats
  </h1>

  <h1 class="mt-8 font-audiowide text-3xl">Github</h1>

  <div class="mt-4">
    <GithubGraph />
  </div>
</Layout>
