---
export interface Props {
  href: string;
  "new-tab"?: boolean;
}

const { href, "new-tab": newTab = false } = Astro.props;
---

<a rel="noopener noreferrer" href={href} target={newTab ? "_blank" : undefined}>
  <slot />
</a>

<style>
  a {
    width: fit-content;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;

    &:hover {
      background-color: var(--color-background-darker);
      color: var(--color-primary);
      padding: 0.25rem;
      margin: -0.25rem;
      border-radius: 0.25rem;
    }
  }
</style>
