---
import { Icon } from "astro-icon/components";
import { languageTag } from "../paraglide/runtime";

function classes(language: "en" | "pt") {
  return `${languageTag() === language ? "bg-orange-600 bg-opacity-20 text-orange-600" : "bg-zinc-800 bg-opacity-20 hover:bg-opacity-50 transition-all transition-300"}`;
}
---

<div
  class="fixed bottom-8 right-8 p-1 border rounded border-zinc-700 flex gap-x-1"
>
  <a
    class={`px-2 py-1 text-sm rounded flex items-center gap-x-2 ${classes("en")}`}
    href="/"
  >
    <Icon class="text-xl" name="twemoji:flag-united-states" />
    <span>English</span>
  </a>

  <a
    class={`px-2 py-1 text-sm rounded flex items-center gap-x-2 ${classes("pt")}`}
    href="/pt/"
  >
    <Icon class="text-xl" name="twemoji:flag-portugal" />
    <span>Português</span>
  </a>
</div>
