@font-face {
  font-family: "Cascadia Code";
  src: url("/fonts/cascadia-code.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-foreground: #fff;
  --color-background: #18181b;
  --color-background-darker: #09090b;
  --color-primary: #ca3500;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  font-size: 16px;
  font-family: "Cascadia Code", Helvetica, sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  hyphens: auto;
  max-width: 42rem;
}

@media (width >= 768px) {
  body {
    padding: 1.5rem;
  }
}

@media (width >= 1024px) {
  body {
    padding: 2rem;
  }
}

.separator {
  width: 100%;
  border-bottom: 1px solid var(--color-foreground);
  margin-block: 1.5rem;
}

a {
  color: var(--color-foreground);
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  color: var(--color-foreground);
}
