---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<title slot="title">{frontmatter.title}</title>

<BaseLayout>
  <body class="markdown">
    <article>
      <slot />
    </article>
  </body>
</BaseLayout>

<style is:global>
  article {
    h1,
    h2,
    pre.astro-code {
      @apply my-2;
    }

    h1 {
      @apply text-3xl font-bold;
    }

    h2 {
      @apply text-2xl font-bold;
    }

    pre.astro-code {
      @apply p-4 rounded-lg border-zinc-700 border;
    }

    ul {
      li {
        @apply list-disc ml-4;
      }
    }
  }
</style>
