---
import BaseLayout from "./BaseLayout.astro";

interface Props {
  title: string;
  date: Date;
}

const { title, date } = Astro.props;
---

<BaseLayout title={title}>
  <title slot="title">{title}</title>

  <body>
    <main class="prose prose-invert">
      <h1>{title}</h1>

      <slot />

      <p class="text-sm">Written on {date.toLocaleDateString("pt-PT")}</p>
    </main>
  </body>
</BaseLayout>
